{% extends 'base.html' %}

{% block pageheading %} Add Item {% endblock %}

{% block main %}

<h3>Item Admin</h3>
<h4> Add an item</h4>
<form class="myform" method="post" action="/add_item">
  <div class="form-group">
    <div class="form-label"><label for="name">Item Name:</label></div>
    <div class="form-element"><input type="text" name="name" id="name" required></div>
  </div>
  <div class="form-group">
    <div class="form-label"><label for="location">Location Found:</label></div>
    <div class="form-element"><input type="text" name="location" id="location" required></div>
  </div>
  <div class="form-group">
    <div class="form-label"><label for="image">Item Image Name:</label></div>
    <div class="form-element"><input type="file" name="image" id="image" required></div>
  </div>
  <div class="form-group">
    <div class="form-label"><label for="date">Date Found:</label></div>
    <div class="form-element"><input type="date" name="date" id="date" required></div>
  </div>
  <div class="form-group">
    <div class="form-label"><label for="cat_id">Category:</label></div>
    <div class="form-element">
      <select id="cat_id" name="cat_id" required>
        {% for category in categories %}
          <option value="{{ category[0] }}">{{ category[1] }} </option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="form-label"><label for="further_info">Further Information</label></div>
    <div class="form-element"><input type="text" name="info" id="info"</div>
  </div>
  <div class="form-group">
    <div class="form-label"></div>
    <div class="form-element"><input type="submit" value="Add Item"></div>
  </div>
</form>


<h4> Delete an item </h4>
<form class ="myform" method="post" action="/delete_item">
  <div class ="form-group">
    <div class ="form-label"><label for="item_id">Item Name:</label></div>
    <div class ="form-element">
      <select id="item_id" name="item_id" >
        {% for item in items %}
          <option value ="{{ item[0] }}">{{ item[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
  <div class ="form-group">
    <div class ="form-label"></div>
    <div class ="form-element"><input type="submit" value ="Delete Item"></div>
  </div>
</form>
{% endblock %}